<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <p>
        <p><b>First argument:</b></p>
        <p><%= first %></p>
    </p>
    <p>
        <p><b>Second argument:</b></p>
        <p><%= second %></p>
    </p>
    <p>
        <p><b>Operation:</b></p>
        <p><%= oper %></p>
    </p>
    <p>
        <p><b>Result:</b></p>
        <p><%= result %></p>
    </p>
<form><button type="submit" formaction="/form" >Back</button></form>
</body>
</html>